.Hamburger {
  padding:10px;
  color:red;
  /*margin-top:5px;*/
}
.bar{
 /* background:white;*/
  width:30px;
  height:5px;
  margin:5px;
  border-radius:20px;
  display: block;
  border:2px solid white;
}
/*.bar:hover{
  background:red;
  border:2px solid red;
}*/
.Menu{
  font-size:1.2rem;
  top:55px;
  text-align:center;
  position:absolute;
  left:-100%;
  width:100%;
  height:100%;
  background:white;
  padding:10px;
  transition:0.7s ease-in-out;
  /*display:none;*/
}
.open{
  font-size:1.2rem;
  top:55px;
  text-align:center;
  position:absolute;
  width:100%;
  height:100%;
 /* background:#80808080;*/
  background:#6694ff;
  padding:10px;
  left:0;
  transition:0.7s ease-in-out;
}
.Search{
  width:50%;
  padding:10px;
}
.Menu a{
  padding:10px;
  display: block;
   /* background:grey;*/
  background: linear-gradient(225deg, #00eaac, #00c591);
  box-shadow:  -8px 8px 19px #00a67a,
                 8px -8px 19px #00ffc8;
  color:white;
  text-align:center;
  margin:20px 20px;
  width:90%;
  border-radius:20px;
  text-decoration:none;
  font-family: "Playfair Display", serif;
  transition: 0.5s ease-in-out;
}
.open a{
  padding:10px;
  display: block;
 /* background:grey;*/
  background: linear-gradient(225deg, #00eaac, #00c591);
  box-shadow:  -8px 8px 19px #00a67a,
               8px -8px 19px #00ffc8;
  color:white;
  text-align:center;
  margin:20px 20px;
  width:90%;
  border-radius:20px;
  text-decoration:none;
  font-family: "Playfair Display", serif;
  transition: 0.5s ease-in-out;
}
.open a:hover{
  background:;
  color:#6694ff;
  transform: scale(1.1);
}